
<app-card (btnclick)="mostrar()" titulo="Basic" preco="$ 19.99" conteudo1="500 GB Store" conteudo2="2 Users Allowed" conteudo3="Send up to 3 GB"></app-card>
<app-card  (btnclick)="mostrar()" class="meio" titulo="Professional" preco="$ 24.99" conteudo1="1 TB Store" conteudo2="5 Users Allowed" conteudo3="Send up to 10 GB" [id]="'cardMid'"></app-card>
<app-card  (btnclick)="mostrar()" titulo="Master" preco="$ 39.99" conteudo1="2 TB Store" conteudo2="10 Users Allowed" conteudo3="Send up to 20 GB"></app-card>

